{% extends 'base.html.twig' %}

{% block javascripts %}

{% endblock %}

{% block title %}Candidatures{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            Je gère les candidatures recues
        </div>
    </div>
{% endblock %}