{% extends 'base.html.twig' %}

{% block javascripts %}

{% endblock %}

{% block title %}CVthèque{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            Je pioche dans la cvthèque
        </div>
    </div>
{% endblock %}