{% extends 'base.html.twig' %}

{% block javascripts %}

{% endblock %}

{% block title %}Dashboard | {{ app.user.fullname|capitalize }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-3">
            <div class="card border-light mb-3">
                <div class="card-header">Mon profil</div>
                <div class="card-body">
                    <h5 class="card-title">données personnelles</h5>
                    <p class="card-text">Remplir et mettre à jour ses données personnelles</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-light mb-3">
                <div class="card-header">Mes offres</div>
                <div class="card-body">
                    <h5 class="card-title">Light card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-light mb-3">
                <div class="card-header">Candidatures</div>
                <div class="card-body">
                    <h5 class="card-title">Light card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-light mb-3">
                <div class="card-header">CVthèque</div>
                <div class="card-body">
                    <h5 class="card-title">Répertoire</h5>
                    <p class="card-text"> consulter les cv disponibles pour trouver ici le bon candidat</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}